extends ../layouts/default.jade

block main
  h2= title
block content
	form(name="login", action="/noticias", method="post")
		input(type="text", name="title")
		input(type="text", name="summary")
		input(type="text", name="content")
		input(type="text", name="author")
		input(type="text", name="iconURL")
		input(type="text", name="creationDate")
		input(type="text", name="modifDate")
		input(type="text", name="active")
		input(type="submit", value="login")